spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/flores
    username: postgres
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
  web:
    resources:
      static-locations:
        - classpath:/META-INF/resources/
        - classpath:/resources/
        - classpath:/static/
        - classpath:/public/
        - file:uploads/
  mail:
    host: smtp.gmail.com
    port: 587
    username: smf.ferreira1901@gmail.com
    password: lxnh cgwt thmy nwzf
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true