:root {
    --verde-principal: #C5FF70; /* Cor principal extraída da imagem */
    --verde-claro: #E0FFA3; /* Tom mais claro */
    --verde-escuro: #a3e063; /* Tom mais escuro */
    --verde-pastel: #D4FFB3; /* Tom pastel */
    --verde-intenso: #8CD147; /* Tom mais vibrante */
  }

body {
    background-color: #f4f9f4;
}
.bg-primary {
    background-color: #C5FF70 !important; /* Verde claro */
}
.btn-primary {
    background-color: #A3E063  !important; /* Verde mais vibrante */
    border-color: #A3E063  !important;
    
}
.btn-primary:hover {
    background-color: #A3E063 !important;
    border-color: #D4FFB3 !important;
}
footer {
    background-color: #B6D3B7 !important; /* Verde escuro */
}

 /* botões flutuantes instagram e WhatsApp */
 .whatsapp-btn, .instagram-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    font-size: 30px;
    color: white;
    z-index: 9999;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-btn:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}
.instagram-btn {
    background-color: #C13584; /* Cor do Instagram */
    bottom: 90px; /* Ajusta o botão do Instagram para ficar acima do WhatsApp */
}
.instagram-btn:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

/* estilo do catálogo na página inicial*/
.card-custom {
          border-radius: 15px; /* Borda arredondada */
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
          background-color: white;
          text-align: center;
          padding: 10px;
      }

      .card img {
          object-fit: cover;
          border-radius: 10px;
          width: 100%;
          height: auto;
      }

/*.card{
    min-height: 450px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.card-body{
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    display: flex;
}*/
      .btn-custom {
          background-color: #A8E65C; /* Verde claro */
          border: none;
          color: black;
          font-weight: bold;
          border-radius: 8px;
          padding: 8px 16px;
          margin: 5px;
      }

      .btn-custom:hover {
          background-color: #98d84f;
      }

      /*.general-text {
          font-weight: bold;
          color: black;
      }*/

.inativo{ /* card de produtos sem estoque*/
    opacity: 0.6;
    background-color: #f8f9fa;
}

/*.card-form{
    border-radius: 15px; /* Borda arredondada
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave
    background-color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 20px; /* Define a distância do topo ao rolar
    z-index: 1000; /* Garante que o card fique acima de outros elementos
}*/

.controle-box{ /* Espaço do controle de vendas */
    background-color: #eceff1; /* Tom de cinza mais escuro */
      border-radius: 8px; /* Bordas arredondadas */
      padding: 12px; /* Espaçamento interno */
      border: 1px solid #cfd8dc; /* Borda sutil para destaque */
      font-size: 16px; /* Tamanho da fonte ajustado */
    }

.content {
    flex: 1;
    padding-bottom: 100px; /* Espaço para o rodapé */
}

.footer-info {
    text-align: center;
}

footer {
    background-color: #C5FF70;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    height: auto;
}


