<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Página inicial</title>
</head>
<body>
    <div class="fixed-bottom mb-3 mr-3">
        <a href="https://wa.me/5561992025713" target="_blank" class="whatsapp-btn" title="Fale conosco!" >
            <i class="fab fa-whatsapp"></i>
        </a>

        <a href="https://www.instagram.com/floricultura_monteiro" target="_blank" class="instagram-btn" title="Nosso instagram!">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" >Floricultura Monteiro</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" th:href="@{/sobre-nos}">Sobre nós</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/contato}">Contato e localização</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="bg-primary text-success-emphasis text-center py-5"><!-- início do catálogo de flores-->
        <h1>Bem-vindo ao  nosso catálogo Flores</h1>
        <p>Encontre as flores mais lindas para todas as ocasiões</p>
    </header><br>

    <main class="container mt-5">
        <div class="row" >
            <div th:each="flores : ${flores}" class="col-md-3 col-sm-6 mb-4">
                <div class="d-flex flex-wrap" >
                        <div class="card card-custom" style="width: 18rem;">
                            <img th:src="${flores.urlImagem}" class="card-img-top img-fluid" alt="Imagem da Flor" style="height: auto;
                        max-width: 100%; text-align:center; " src="">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${flores.nome}"></h5>
                                <!--<p class="card-text" th:text="${flores.descricao}"></p>-->
                                <form th:action="@{/carrinho/adicionarItem}" method="get">
                                    <p class="price-text"><strong>Preço: R$ </strong><span th:text="${flores.preco}"></span></p>
                                    <input type="hidden" name="carrinhoId" th:value="${carrinhoId}">
                                    <input type="hidden" name="floresId" th:value="${flores.id}">

                                    <div class="text-center">
                                        <label>
                                            <input type="number" name="quantidade" value="1" min="1" class="form-control w-50 mx-auto"><br>
                                        </label>
                                    </div>

                                    <!--<p class="card-text" th:text="${flores.cuidados}"></p>
                                    <p class="card-text" th:text="${flores.cor}"></p>
                                    <p class="card-text" th:text="${flores.disponibilidade}"></p>
                                    <p class="card-text" th:text="${flores.embalagem}"></p>-->
                                    <input type="hidden" name="NomeProduto" th:value="${flores.nome}">
                                    <input type="hidden" name="precoTotal" th:value="${flores.preco} * ${#numbers.formatInteger(1, 1)}">
                                    <div class="d-flex justify-content-center gap-3">
                                        <button type="submit" class="btn btn-primary" >Adicionar ao carrinho</button>
                                    </div><br>
                                </form>
                                <div class="d-flex justify-content-center gap-3">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    th:attr="data-bs-target= '#modalDetalhes' + ${flores.id}">detalhes</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Modal para cada flor -->
    <div th:each="flores : ${flores}" class="modal fade" th:id="'modalDetalhes'+${flores.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" th:text="${flores.nome}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <img th:src="${flores.urlImagem}" class="img-fluid" alt="Imagem da Flor" src="">
                        </div>
                        <div class="col-md-6">
                            <p><strong>Descrição:</strong> <span th:text="${flores.descricao}"></span></p>
                            <p><strong>Cuidados:</strong> <span th:text="${flores.cuidados}"></span></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; Floricultura Monteiro. Todos os direitos reservados</p>

    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>