<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contato - Floricultura Monteiro</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/contato.css">
</head>
<body>

<!-- Contact Section -->
<div class="contact-section">
  <h1>Onde Estamos</h1>
  <p>Venha nos visitar ou entre em contato para mais informações.</p>

  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.9042291443!2d-47.989572925266444!3d-16.070458829812598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93598500298e97ad%3A0x865ca2a5a4bcbfac!2sFloricultura%20Monteiro!5e0!3m2!1spt-BR!2sbr!4v1740340952526!5m2!1spt-BR!2sbr"
            width="100%"
            height="100%"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>

  <div class="contact-info">
    <div>
      <h3>Endereço</h3>
      <p>R.2,Quadra 51 Lote 17. Loja 6<br>Jardim Oriente, Valparaíso de Goiás - GO <br> 72870-221</p>
    </div>
    <div>
      <h3>Telefone</h3>
      <p>(61) 9202-5713 <br> Nosso catálogo no WhatsApp</p>
    </div>
    <!--<div>
      <h3>E-mail</h3>
      <p>contato@floriculturamonteiro.com</p>
    </div>-->
  </div><br>

  <a th:href="@{/catalogo}" class="btn-back">Voltar à Página Inicial</a>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
<footer>
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-md-8 footer-info">
        <p>Floricultura Monteiro | CNPJ: 59.380.838/0001-09</p>
        <p>Em frente a Sorveteria Mega Gelatto - R. 2, Quadra 51 lote 17. Loja 6 - Jardim Oriente, Valparaíso de Goiás - GO, 72870-221</p>
        <p>WhatsApp: (61) 99202-5713</p>
      </div>
      <div class="col-md-4 text-center">
        <img src="/img/floriculturaMonteiro.jpg" alt="Imagem do Rodapé" class="img-fluid rounded" style="max-width: 120px; height: auto;">
      </div>
    </div>
  </div>
</footer>
</html>