<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Descrição de Produto - Floricultura Gabriel</title>
</head>
<body>

    <!--botões do instagram e WhatsApp-->
    <div class="fixed-bottom mb-3 mr-3">
        <a href="https://wa.me/5561992025713" target="_blank" class="whatsapp-btn" title="Fale conosco!" >
            <i class="fab fa-whatsapp"></i>
        </a>

        <a href="https://www.instagram.com/floricultura_monteiro" target="_blank" class="instagram-btn" title="Nosso instagram!">
            <i class="fab fa-instagram"></i>
        </a>
    </div>

    <!-- Barra de navegação -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Floricultura Monteiro</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#" onclick="redirecionarHome()">Voltar para o catálogo</a></li>
                    <li class="nav-item"><a class="nav-link" href="#sobrenos">Sobre nós</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contato">Contato</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Cabeçalho -->
    <header class="bg-primary text-success-emphasis text-center py-5">
        <h1>Descrição do Produto</h1>
        <p>Detalhes sobre a nossa linda flor</p>
    </header>

    <!-- Conteúdo principal da página -->
    <main class="container my-5">
        <div class="row">
            <!-- Imagem e descrição do produto -->
            <div class="col-md-6">
                <img src="/static/img/rosa.jpg" class="img-fluid rounded" alt="Rosa Vermelha">
            </div>
            <div class="col-md-6" id="product">
                
                <h2>Rosa vermelha</h2>
                <p>A rosa vermelha é um símbolo de amor e paixão. Ela é ideal para diversas ocasiões, como declarações de amor, aniversários e até mesmo como presente para aquela pessoa especial.</p>
                <p><strong>Características:</strong></p>
                <ul>
                    <li>Cor: Vermelha intensa</li>
                    <li>Preço: R$ 15,00 por unidade</li>
                    <li>Disponibilidade: Em estoque</li>
                    <li>Embalagem: A rosa vem com embalagem especial para presente.</li>
                </ul>
                <p><strong>Cuidados:</strong></p>
                <p>Manter em ambiente com luz indireta e regar com moderação. A rosa precisa de cuidados especiais para durar mais tempo, e nosso time de especialistas pode te orientar sobre o cuidado contínuo.</p>
                <button class="btn btn-primary">Comprar Agora</button>
            </div>

        </div>
    </main>

    <!-- Rodapé -->
    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; Floricultura Monteiro. Todos os direitos reservados</p>
    </footer>

    <!-- Scripts do Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/src/script.js"></script>
</body>
</html>

