<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Floricultura Monteiro</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/css/pagInicial.css">
  <link rel="icon" type="image/ico" href="/img/floriculturaMonteiro.ico">
</head>
<body>

<div class="restricted-area">
  <a th:href="@{/admin}" class="restricted-link">
    <i class="fas fa-lock"></i>
    Área Restrita
  </a>
</div>

<div class="hero-section">
  <img src="img/floriculturaMonteiro.jpg" alt="Floricultura Monteiro" class="hero-image">
  <div class="hero-content">
    <h1>Bem-vindo à Floricultura Monteiro</h1>
    <p>Descubra a beleza das flores em nosso catálogo exclusivo.</p>
    <a href="/catalogo" class="btn btn-primary">Ir às Compras</a>
  </div>

  <div class="petals" id="petals"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
  function createPetal() {
      const petal = document.createElement('div');
      petal.classList.add('petal');
      petal.style.left = Math.random() * 100 + 'vw';
      petal.style.animationDuration = Math.random() * 3 + 2 + 's';
      petal.style.opacity = Math.random();
      petal.style.width = Math.random() * 20 + 10 + 'px';
      petal.style.height = petal.style.width;
      document.getElementById('petals').appendChild(petal);
      setTimeout(() => {
          petal.remove();
      }, 5000);
  }

  setInterval(createPetal, 300);
</script>
</body>
</html>